{namespace coleslaw.theme.readable}

{template base}
<!DOCTYPE html>{\n}
<html lang="{$site.lang}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={$site.charset}">
    <title>{$site.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" media="screen">
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    {if $content.injections.head}
      {foreach $injection in $content.injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
  </head>
  <body class="staticl-page">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="offset2 span8">
          <div class="row-fluid">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <a class="brand" href="/">{$site.title}</a>
                <ul class="nav">
                  {foreach $link in $site.navigation.items}
                  <li>
                    <a href="{$link.url}">{$link.title}</a>
                  </li>
                  {/foreach}
                </ul>
              </div>
            </div>
          </div>
          
          {if $content.injections.before_content}
            {foreach $injection in $content.injections.before_content}
              <div class="row-fluid">
                {$injection |noAutoescape}
              </div>
            {/foreach}
          {/if}

          <div class="row-fluid">
            {$raw |noAutoescape}
          </div>

          {if $content.injections.after_content}
            {foreach $injection in $content.injections.after_content}
              <div class="row-fluid">
                {$injection |noAutoescape}
              </div>
            {/foreach}
          {/if}

          <div class="row-fluid">
            <hr>
            <p class="fineprint">Unless otherwise credited all material
            {if $site.license}
              {$site.license}
            {else}
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
               <img alt="Creative Commons License" style="border-width:0" src="/img/cc-by-sa.png" />
              </a>
            {/if}
            {if $site.author}by {$site.author}{/if}
            {if $site.copyright_from}{$site.copyright_from}{if $site.copyright_to}&nbsp;-&nbsp;{$site.copyright_to}{/if}{/if}
            {if not $site.hide_staticl_logo}
            <a id="staticl-logo" href="https://github.com/40ants/staticl">
              <img src="/img/staticl-logo-small.webp" style="height: 32px" alt="StatiCL logo" /></p>
            </a>
            {/if}
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
{/template}
