{namespace coleslaw.theme.readable}

{template index}
<h1 class="page-header">{$content.title}</h1>
{foreach $obj in $content.items}
  <div class="row-fluid">
    <h1><a href="{$obj.url}">{$obj.title}</a></h1>
    <p class="date-posted">posted on {$obj.created_at | date}</p>
    {$obj.excerpt |noAutoescape}

    {if $obj.has_more}<p><a href="{$obj.url}">Read more...</a></p>{/if}
  </div>
{/foreach}
<div id="relative-nav">
  <ul class="pager">
    {if $content.prev} <li class="previous"><a href="{$content.prev.url}">Previous</a></li> {/if}
    {if $content.next} <li class="next"><a href="{$content.next.url}">Next</a></li> {/if}
  </ul>
</div>
{if $content.tags}
<div class="row-fluid">
  <p>This blog covers
    {foreach $tag in $content.tags}
      <a href="{$tag.url}">{$tag.name}</a>{nil}
      {if not isLast($tag)},{sp}{/if}
    {/foreach}
  </p>
</div>
{/if}
{if $months}
<div class="row-fluid">
  <p>View content from
    {foreach $month in $content.months}
      <a href="{$month.url}">{$month.name}</a>{nil}
      {if not isLast($month)},{sp}{/if}
    {/foreach}
  </p>
</div>
{/if}
{/template}
