{namespace coleslaw.theme.readable}

{template post}
<div class="row-fluid">{\n}
  <h1 class="page-header">{$content.title}</h1>{\n}
  <p>
    {if $content.tags}
      Tagged as {foreach $tag in $content.tags}
        {if $tag.url}<a href="{$tag.url}">{$tag.name}</a>{else}<b>{$tag.name}</b>{/if}{nil}
          {if not isLast($tag)},{sp}{/if}
      {/foreach}
    {/if}
  </p>
  <p class="date-posted">
    {if $content.date}
      Written on {$content.date}
    {/if}
  </p>

  {$content.html |noAutoescape}
  
  <ul class="pager">
    {if $content.prev}<li class="previous"><a href="{$content.prev.url}" title="{$content.prev.title}">&larr; Previous</a></li>{/if}{\n}
    {if $content.next}<li class="next"><a href="{$content.next.url}" title="{$content.next.title}">Next &rarr;</a></li>{/if}{\n}
  </ul>
</div>{\n}
{/template}
